/* style.less */
@error: #b94a48;

.navbar {
    color: #000000 !important;
    background-color: #525252 !important;
	border-bottom: 1px solid black;
	border-radius: 0;
    min-height: 70px;
    font-size: 20px !important;
}

.navbar li a, .navbar {
    color: #000000 !important;
    font-size: 14px !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    font-size: 14px !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #000000 ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #f4511e !important;
    color: #000000 !important;
}

@media (min-width: 1200px) {
	.container{
    max-width: 900px;
	}
}

.container h2{
	color: crimson !important;
}
.container h3{
	color: crimson !important;
}

.container-fluid {
	padding-top: 2em;
	padding-bottom: 1em;
}

.form-group {
    label.error {
      color: @error;
    }
}

.monospace-font {
	font-family: Monaco, "Courier New", Courier, monospace;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set rules to fill background */
  min-width: 100%;
  min-height: 100%;
}

.bg-black {
  background-color: #2f2f2f;
  color: #ffffff;
}

body {
  background-color: #fff;
}

a:link {
  color: #575757;
}

a:visited {
  color: #575757;
}

.logo-primary {
	font-size: 50px;
}
.logo-info {
	color: #5BC0DE;
	font-size: 50px;
}
.logo-success {
	color: #5CB85C;
	font-size: 50px;
}
.logo-danger {
	color: #D9534F;
	font-size: 50px;
}
.logo-warning {
	color: #F0AD4E;
	font-size: 50px;
}
.logo-small {
	font-size: 50px;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
	-moz-transform: rotate(0deg);
  }
  100% {
	-moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
	-webkit-transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
	-o-transform: rotate(0deg);
  }
  100% {
	-o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}